<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "it.engineering.*"
        versionCode = "10" 
        version = "1.1.0">
    
    <name>REMS</name>

    <description>
        Real Estate Management System
    </description>

    <author href="http://www.remanagementsystem.it" email="info@engisolution.it">
        Rete REMS
    </author>
    
        <preference name="permissions" value="none"/>
        <preference name="ios-statusbarstyle"         value="black-opaque" /> 
        
        <icon src="icon.png" />
        
	<access origin="*"/>
        
</widget>