<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "it.engineering"
        version = "1.1.0">
    <name>REMS</name>

    <description>
        Real Estate Management System
    </description>

    <author href="http://www.remanagementsystem.it" email="info@engisolution.it">
        REMS
    </author>
	


    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="handset" />
    <preference name="fullscreen" value="false" />
	<preference name="stay-in-webview" value="true" />
	<preference name="ios-statusbarstyle" value="black-opaque" />
	

	
	<!-- Icons -->
 	<icon src="icon.png" />
 
        <gap:splash src="images/splash/main.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="images/splash/main.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="images/splash/main.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="images/splash/main.png" gap:platform="ios" width="1024" height="768" />

	
</widget>